.heading{
    font-family: "Outfit", sans-serif;
    
  

}

.text{
  font-family: "Outfit", sans-serif;

    
}



@keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .icon1 {
    animation: wave 1.5s infinite;
  }
  
  .icon2 {
    animation: wave 1.5s infinite;
    animation-delay: 0.2s; /* Delay for second icon */
  }
  
  .icon3 {
    animation: wave 1.5s infinite;
    animation-delay: 0.4s; /* Delay for third icon */
  }
  
  .icon4 {
    animation: wave 1.5s infinite;
    animation-delay: 0.6s; /* Delay for fourth icon */
  }
  
  .icon5 {
    animation: wave 1.5s infinite;
    animation-delay: 0.8s; /* Delay for fifth icon */
  }